In [5]:
#Initialisation Cell
import math
import random
import numpy as np
import pandas as pd
import pandas_ta as ta
from numpy import linalg as LA
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

<h1>Helper Functions</h1>

<h1>Importing Data</h1>

In [6]:
df = pd.read_csv("XAUUSD_Candlestick_4_Hour_BID_30.03.2018-30.03.2022.csv")

df

,Local time,Open,High,Low,Close,Volume
0,29.03.2018 23:00:00.000 GMT+0200,1325.071,1325.071,1325.071,1325.071,0.000000e+00
1,30.03.2018 03:00:00.000 GMT+0200,1325.071,1325.071,1325.071,1325.071,0.000000e+00
2,30.03.2018 07:00:00.000 GMT+0200,1325.071,1325.071,1325.071,1325.071,0.000000e+00
3,30.03.2018 11:00:00.000 GMT+0200,1325.071,1325.071,1325.071,1325.071,0.000000e+00
4,30.03.2018 15:00:00.000 GMT+0200,1325.071,1325.071,1325.071,1325.071,0.000000e+00
...,...,...,...,...,...,...
6256,29.03.2022 15:00:00.000 GMT+0200,1897.068,1917.778,1892.618,1915.248,1.391129e+07
6257,29.03.2022 19:00:00.000 GMT+0200,1914.588,1921.313,1912.628,1919.048,4.736350e+06
6258,29.03.2022 23:00:00.000 GMT+0200,1918.668,1921.158,1915.788,1919.113,1.098482e+06
6259,30.03.2022 03:00:00.000 GMT+0200,1919.089,1927.178,1918.528,1925.683,9.081880e+00
6260,30.03.2022 07:00:00.000 GMT+0200,1925.678,1928.298,1919.098,1919.198,9.096870e+00

<h1>Cleaning the data</h1>

<h2>Get Statistical Summary of the data</h2>

In [7]:
print("The data has the following shape:\n%d rows and %d columns" %(df.shape[0],df.shape[1]))
print(df.head())
print("The statistical summary is given as:")
print(df.describe())
print("Data set consist of the following data types")
df.dtypes

The data has the following shape:
6261 rows and 6 columns
                         Local time      Open      High       Low     Close  \
0  29.03.2018 23:00:00.000 GMT+0200  1325.071  1325.071  1325.071  1325.071
1  30.03.2018 03:00:00.000 GMT+0200  1325.071  1325.071  1325.071  1325.071
2  30.03.2018 07:00:00.000 GMT+0200  1325.071  1325.071  1325.071  1325.071
3  30.03.2018 11:00:00.000 GMT+0200  1325.071  1325.071  1325.071  1325.071
4  30.03.2018 15:00:00.000 GMT+0200  1325.071  1325.071  1325.071  1325.071

   Volume
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
The statistical summary is given as:
              Open         High          Low        Close        Volume
count  6261.000000  6261.000000  6261.000000  6261.000000  6.261000e+03
mean   1591.287587  1595.256263  1587.154366  1591.341207  8.619353e+06
std     253.197404   254.428985   251.773181   253.216131  6.223009e+06
min    1165.668000  1174.309000  1160.168000  1165.689000  0.000000e+00
25%    1313.281000  1315.135000  1311.281000  1313.218000  4.183720e+06
50%    1649.448000  1655.415000  1642.605000  1649.308000  7.127500e+06
75%    1809.445000  1812.768000  1805.818000  1809.488000  1.137693e+07
max    2067.245000  2074.798000  2063.338000  2067.258000  5.625459e+07
Data set consist of the following data types

Local time     object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
dtype: object

<h2>Remove useless features</h2>

In [8]:
df = df.drop('Local time',axis=1)
df

          Open      High       Low     Close        Volume
0     1325.071  1325.071  1325.071  1325.071  0.000000e+00
1     1325.071  1325.071  1325.071  1325.071  0.000000e+00
2     1325.071  1325.071  1325.071  1325.071  0.000000e+00
3     1325.071  1325.071  1325.071  1325.071  0.000000e+00
4     1325.071  1325.071  1325.071  1325.071  0.000000e+00
...        ...       ...       ...       ...           ...
6256  1897.068  1917.778  1892.618  1915.248  1.391129e+07
6257  1914.588  1921.313  1912.628  1919.048  4.736350e+06
6258  1918.668  1921.158  1915.788  1919.113  1.098482e+06
6259  1919.089  1927.178  1918.528  1925.683  9.081880e+00
6260  1925.678  1928.298  1919.098  1919.198  9.096870e+00

[6261 rows x 5 columns]

<h2>Add valuable features</h2>

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().